body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: white;
    width: 100vh;
    justify-content: center;
}

.carta{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    margin: 0px;
    position: relative;
}

.letras-superior{
    display: absolute;
    font-size: 23px;
    margin: -10px 0px 0px 10px;
}

.imagen-central{
    display: flex;
    justify-content: center;
    padding: 0px 0px 85px 0px;
    margin: 25px 0px 0px 0px;
    font-weight: bold;
    font-size: 100px;
}

.letras-inferior{
    display: absolute;
    justify-content: flex-end;
    font-size: 23px;
    margin: -75px 10px 0px 0px;
    transform: rotate(180deg);
}

.pica{
    display: flex;
    margin: -30px 0px 0px 0px;
    font-size: 30px;
}